/*body{
    font-weight: 400px;
    font-family: lato, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.2em;
    color: #303030;
    margin: 0;
}*/

/*header{
    background-color: #f4511e;
}*/

/*section, footer{
    margin: 40px;
}*/

header p{
    color: #ffffff;
    /*font-weight: 600;*/
}

h1{
    font-size: 60px;
    color: #f2efef;
   /* padding: 20px;
    text-align: center;*/   
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

footer p{
    color: #303030
}

/*table{
    width: 100%;
}

table td{
    color: #303030;
    padding: 5px;
}

table tr:nth-child(even){
    background-color: #e9e9e9;
}

table tr:nth-child(odd){
    background-color: #bdbdbdbd;
}


table thead th{
    background-color: #f4511e;
    color: white;
}

/*img {
    width: 300px; /* Define a largura do contêiner da imagem */
   /* height: 200px; /* Define a altura do contêiner da imagem */
   /* object-fit: cover; /* Ajusta a imagem para cobrir o contêiner, mantendo a proporção */



